body,
html {
  background-color: #222222;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin: 0;
}

h1 {
  font-size: 72px;
}

.sections {
  margin: 15% 20% 0% 20%;
}

.navigation {
  background-color: #222222;
  border-color: #ffffff;
  border-width: 1px;
  border-style: none none solid none;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-section {
  margin: 0px 32px 0px 32px;
  padding: 8px 16px 8px 16px;
}

.nav-section:hover {
  background-color: #ffffff;
  color: #222222;
  cursor: pointer;
}
