@import "../../styles/constants.scss";

.section {
  margin: 10vh 5vw 10vh 5vw;
}

.content {
  display: flex;
}

.header {
  text-align: right;
  margin-right: 5%;
  flex: 1;
}

.body {
  flex: 2;
}

.icon {
  font-size: 8em;
}
