@import "../../styles/constants.scss";

.section {
  margin: auto;
}

.content {
  display: flex;
}

.header {
  text-align: right;
  margin-right: 5%;
  flex: 1;
}

.body {
  flex: 2;
  padding-bottom: 8%;
}

.icon {
  font-size: 8em;
}
