@import "../styles/constants.scss";

a {
  color: inherit;

  &:hover {
    color: $red;
  }
}

body,
html {
  background-color: $black;
  color: $white;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  margin: 0;
}

::selection {
  background-color: $white;
  color: $black;
}
