@import "../styles/constants.scss";

a {
  color: $red;
  text-decoration: none;
  
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: $red;
    text-decoration-thickness: 2px;
  }
}

body,
html {
  background-color: $black;
  color: $white;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  margin: 0;
}

::selection {
  background-color: $white;
  color: $black;
}
