@import "../styles/constants.scss";

body,
html {
  background-color: $black;
  color: $white;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  margin: 0;
}

::selection {
  background-color: $white;
  color: rgb(32, 32, 40);
}

.sections {
  margin: 5% 15% 0% 15%;
}
